.wrap_navigation {
  z-index: 1;
  position: "fixed";
  max-width: 1000px;
  width: "100%";
  background-color: "#fff";
}

.wrap_navigation .list_menu {
  float: right;
  line-height: "64px";
  border-bottom: none;
}
