.wrap_writeboard .mde-header {
  display: none;
}

.wrap_writeboard .markdown_help {
  float: right;
  margin-bottom: 10px;
}

.ant-popover-inner-content {
  font-size: 12px;
}
.wrap_writeboard .mde-content {
  min-height: 400px;
}

.wrap_writeboard .cont_help {
  float: right;
  font-size: 15px;
  margin: 0 5px 10px 0;
}
.wrap_writeboard .cont_help .txt_help {
  margin-right: 5px;
  font-size: 12px;
}

.wrap_writeboard .cont_survey .cont {
  margin-bottom: 10px;
}
.wrap_writeboard .cont_survey .tit_cont {
  line-height: 30px;
}
