.ant-carousel .slick-slide {
  text-align: center;
  height: 380px;
  line-height: 260px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-list {
  height: 300px;
}

.ant-carousel .slick-track {
  height: 100%;
}
.ant-carousel .slick-slide h3 {
  color: #fff;
}
